
  .admin_box{
  	margin-top:100px;
  height:150px;
  border:1px solid #000000;
  }


.admin_box_second{
	height:400px;
	margin-top:50px;
}

.count{
	text-align: right;
	font-size:32px;
	}

.text_name{
	text-align: right;
}

.col-md-12.count {
    padding: 0px;
}

.col-md-12.text_name {
    padding: 0px;
}

.icon_arrow-right{
	text-align: right;
	margin-top:20px;
}

.col-md-6.icon_arrow-right {
    padding: 0px;
}

.detail{
	text-align: left;
	margin-top:20px;
}

.col-md-6.detail{
	  padding: 0px;
}
.under_box{
	padding:0px 10px 0px 10px;
}

