<div class="row admin_row">
    <div class="col-md-11 col-md-offset-1">
    <h1>Dashboard</h1>
      <div class="col-md-11 admin_box_second3">
        <h2 class="admin_title"><i class="glyphicon glyphicon-chevron-right"></i>Topics</h2>
            <div class="col-md-12  dashboard_box">
               <% @topics.each do |topic| %>
                    <div class="col-md-2">
                    ID:<%= topic.id %>
                    </div>

                    <div class="col-md-5 admin_show_title">
                    <%= link_to "#{topic.title}",topic_path(topic) %>
                    </div>

                    <div class="col-md-3">
                    <%= simple_time(topic.created_at) %>
                    </div>

                    <div class="col-md-2">
                    <%= link_to "削除",  admins_topic_path(topic), method: :delete %>
                    </div>
                <% end %>
            </div>
       </div>
   </div>
</div>